<div class="section" id="explore-collection">
    <div class="container">
        <div class="one-whole column">
            <div class="headding-box text-align-center">
                <h3>{{  section.settings.title | escape }}</h3>
                <div class="headding-icons">
                    <ul class="none relative display-inline-block margin-top-5 margin-bottom-0">
                        <li class="display-inline-block"><span style="color: {{section.settings.icon_color }}; border-color: {{section.settings.icon_color }}"><i class="{{ section.settings.icon }}" aria-hidden="true"></i></span></li>
                        <li class="display-inline-block"><span style="color: {{section.settings.icon_color }}; border-color: {{section.settings.icon_color }}"><i class="{{ section.settings.icon }}" aria-hidden="true"></i></span></li>
                        <li class="display-inline-block"><span style="color: {{section.settings.icon_color }}; border-color: {{section.settings.icon_color }}"><i class="{{ section.settings.icon }}" aria-hidden="true"></i></span></li>
                    </ul>
                </div>
                <p class="margin-bottom-20 padding-y-10 margin-bottom-10">{{ section.settings.subtitle }}</p>
            </div>
            <div class="category-box-container is-flex is-flex-wrap is-align-center is-justify-center">
                {% for collection in section.settings.collections %}
                    <div class="category-box width-25 width-md-33 width-sm-50 width-xxs-100 {% if collection.featured_image == blank %}without-image {% endif %}">
                        <figure class="product-category-card relative">
                            {% if collection.featured_image != blank %}
                                {{ collection.featured_image | image_url: width: 400, height: 400, crop: "center" | image_tag: width: 400, height: 400, class: "width-100 image-responsive lazyload", loading: 'lazy' }}
                            {% else %}
                                <img src="https://placehold.it/400x400" width="400" height="400" />
                            {% endif %}
                            <figcaption class="text-align-center">
                                <div class="visible-part padding-x-10 padding-y-20">
                                    <h4>{{ collection.title }}</h4>
                                    {% if collection.all_products_count > 0 %}
                                        <p class="margin-top-5 margin-bottom-0">Price Start from <span class="price "><span class="money">{{ collection.products[0].price_min | money }}</span></span></p>
                                    {% endif %}
                                </div>
                                <div class="description-box padding-10 is-flex is-justify-center is-flex-wrap">
                                    <h4 class="width-100">{{ collection.title }}</h4>
                                    <div class="margin-top-5 margin-bottom-0 width-100">{{ collection.metafields.custom.short_description | metafield_tag }}</div>
                                    <a
                                        href="{{ collection.url }}"
                                        class="action_button margin-top-15"
                                    >{{ section.settings.button_text }}</a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% style %}
    #shopify-section-{{ section.id }} {
        background: {{ section.settings.section_bg_color }}
    }
    #shopify-section-{{ section.id }} .headding-icons ul:before {
        background: linear-gradient(to right, #fff, {{section.settings.icon_color }});
    }
    #shopify-section-{{ section.id }} .headding-icons ul:after {
        background: linear-gradient(to right, {{section.settings.icon_color }}, #fff);
    }
    #shopify-section-{{ section.id }} h3,
    #shopify-section-{{ section.id }} h4 {
        color: {{ section.settings.title_color }};
        font-family: {{ section.settings.title_font.family }}, {{ section.settings.title_font.fallback_families }}
    }
    #shopify-section-{{ section.id }} p {
        color: {{ section.settings.text_color }};
        font-family: {{ section.settings.text_font.family }}, {{ section.settings.text_font.fallback_families }}
    }

    #shopify-section-{{ section.id }} .action_button {
        color: {{ section.settings.button_color }};
        border-color: {{ section.settings.button_border_color }};
        background: {{ section.settings.button_background_color }};
        font-family: {{ section.settings.text_font.family }}, {{ section.settings.text_font.fallback_families }}
    }
    #shopify-section-{{ section.id }} .action_button:hover {
        color: {{ section.settings.button_hover_color }};
        border-color: {{ section.settings.button_border_hover_color }};
        background: {{ section.settings.button_hover_bg_color }};
    }
    #shopify-section-{{ section.id }} .product-category-card,
    #shopify-section-{{ section.id }} .visible-part {
        background: {{ section.settings.card_bg_color }};
    }
    #shopify-section-{{ section.id }} figure:hover .product-category-card,
    #shopify-section-{{ section.id }} figure:hover .visible-part,
    #shopify-section-{{ section.id }} .product-category-card:after {
        background: {{ section.settings.card_hover_bg_color }};
    }
{% endstyle %}
{% schema %}
{
    "name": "Featured Categories",
    "tag": "section",
    "class": "featured-categories-container section-container margin-bottom-0 padding-y-50",
    "settings": [
        {
            "type": "color",
            "id": "section_bg_color",
            "label": "Main Section Background Color",
            "default": "#fff"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Featured Categories"
        },
        {
            "type": "text",
            "id": "icon",
            "label": "Icon Name",
            "default": "fa-regular fa-gem"
        },
        {
            "type": "textarea",
            "id": "subtitle",
            "label": "Sub Title",
            "default": "Discover decor that brings aesthetic <br /> beauty and artistic sophistication into your curated haven."
        },
        {
            "type": "collection_list",
            "id": "collections",
            "label": "Collections",
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "View Collection"
        },
        {
            "type": "color",
            "id": "icon_color",
            "label": "Icon Color",
            "default": "#444"
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#444"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#444"
        },
        {
            "type": "color",
            "id": "button_color",
            "label": "Button Color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "button_hover_color",
            "label": "Button Hover Color",
            "default": "#444"
        },
        {
            "type": "color",
            "id": "button_background_color",
            "label": "Button Background Color",
            "default": "#444"
        },
        {
            "type": "color",
            "id": "button_hover_bg_color",
            "label": "Button Hover Background Color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "button_border_color",
            "label": "Button Border Color",
            "default": "#444"
        },
        {
            "type": "color",
            "id": "button_border_hover_color",
            "label": "Button Hover Border Color",
            "default": "#444"
        },
        {
            "type": "font_picker",
            "id": "title_font",
            "label": "Title Font",
            "default": "garamond_n7"
        },
        {
            "type": "font_picker",
            "id": "text_font",
            "label": "Text Font",
            "default": "garamond_n4"
        },
        {
            "type": "color",
            "id": "card_bg_color",
            "label": "Card Background Color",
            "default": "#f2eeeb"
        },
        {
            "type": "color",
            "id": "card_hover_bg_color",
            "label": "Card Hover Background Color",
            "default": "#E0D9D0"
        },
    ],
    "presets": [
        {
            "name": "Featured Categories",
            "settings": {
                "collections": ["ceiling-lights", "floor-lamps", "furniture", "table-lamps", "outdoor-lighting", "outdoor-planters", "pillows-throws", "rugs", "sconces", "summer-essentials"]
            }
        }
    ]
}
{% endschema %}