{% comment %} smr-hero-banner-1920-optimized {% endcomment %}
{% liquid 
  assign imgage_overlay = 'rgba(0 0 0 , 0.5)'
  assign text_font_family = ''
  assign subtitle_color = ''
  assign focused_title_color = ''
  assign title_color = ''
  assign description_color = ''
  assign title_font = ''

  if section.settings.image_overlay != blank
    assign imgage_overlay = section.settings.image_overlay
  endif

  if section.settings.subtitle_color != blank
    assign subtitle_color = "color: " | append: section.settings.subtitle_color
  endif

  if section.settings.focused_title_color != blank
    assign focused_title_color = "color: " | append: section.settings.focused_title_color
  endif

  if section.settings.title_color != blank
    assign title_color = "color: " | append: section.settings.title_color
  endif

  if section.settings.description_color != blank
    assign description_color = "color: " | append: section.settings.description_color
  endif

  if section.settings.text_font.family != blank
    assign text_font_family = section.settings.text_font.family | append: ',' | append: section.settings.text_font.fallback_families
  endif

  if section.settings.title_font.family != blank
    assign title_font = section.settings.title_font.family | append: ',' | append: section.settings.title_font.fallback_families
  endif
%}

<div class="hero-banner relative is-flex is-align-center text-align-left">
    {% if section.settings.image != blank %}
      {{ section.settings.image | image_url: width: 1920, crop: 'center' | image_tag: width: 1920, class: "width-100 lazyload", preload: true, alt: section.settings.subtitle }}
    {% else %}
      <img src="{{ 'smr-hero-banner.webp' | asset_url }}" class="width-100" width="1920" loading="lazy" alt="{{ section.settings.subtitle }}" />
    {% endif %}
    <div class="hero-banner-content">
      <div class="hero-banner-description is-flex is-flex-wrap">
        <h1 class="width-100">
          <span class="hero-banner-focused-title" style="{{ focused_title_color }}" >{{ section.settings.focused_title }}</span>
          <span class="hero-banner-normal-title" style="{{ title_color }}">{{ section.settings.title }}</span>
        </h1>
        <h2 class="width-100" style="{{ subtitle_color }}" >{{ section.settings.subtitle }}</h2>
        <p class="width-100" style="{{ description_color }}" >{{ section.settings.description }}</p>
        <a 
          href="{{ section.settings.button_url | escape }}" 
          class="hero-banner-button action_button"
        >
          {{ section.settings.button_text | escape }}
        </a>
      </div>
    </div>
</div>

{% style %}
  #shopify-section-{{ section.id }} .hero-banner p,
  #shopify-section-{{ section.id }} .hero-banner a {
    font-family: {{ text_font_family }}
  }
  #shopify-section-{{ section.id }} .hero-banner:after {
      background: {{ imgage_overlay }};
  }
  #shopify-section-{{ section.id }} .hero-banner-content h1,
  #shopify-section-{{ section.id }} .hero-banner-content h2{
    font-family: {{ title_font }}
  }
  #shopify-section-{{ section.id }} a.hero-banner-button {
    background: {{ section.settings.button_background_color }};
    border: 1px solid {{ section.settings.button_border_color }};
    color: {{ section.settings.button_color }};
  }
  #shopify-section-{{ section.id }} a.hero-banner-button:hover {
    background: {{ section.settings.button_hover_bg_color }};
    border: 1px solid {{ section.settings.button_border_hover_color }};
    color: {{ section.settings.button_hover_color}}
  }
{% endstyle %}
  
{% schema %}
{
  "name": "Hero Banner",
  "tag": "section",
  "class": "hero-banner-container section-container margin-bottom-0",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "prefered dimension is 1920x800px"
    },
    {
      "type": "color_background",
      "id": "image_overlay",
      "label": "Image Overlay Color",
      "default": "rgba(241, 242, 246, 0.3)",
      "info": "use rgba() color code. Otherwise this will override the banner"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sub Title"
    },
    {
      "type": "color",
      "id": "subtitle_color",
      "label": "Subtitle Color",
      "default": "#444"
    },
    {
      "type": "text",
      "id": "focused_title",
      "label": "Focused Title"
    },
    {
      "type": "color",
      "id": "focused_title_color",
      "label": "Focused Title Color",
      "default": "#444"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#444"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Short Description",
      "default": "Sale upto 70% on selected items. "
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Text Color",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color",
      "default": "#444"
    },
    {
      "type": "color",
      "id": "button_hover_color",
      "label": "Button Hover Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "Button Background Color",
      "default": "#E0D9D0"
    },
    {
      "type": "color",
      "id": "button_hover_bg_color",
      "label": "Button Hover Background Color",
      "default": "#444"
    },
    {
      "type": "color",
      "id": "button_border_color",
      "label": "Button Border Color",
      "default": "#444"
    },
    {
      "type": "color",
      "id": "button_border_hover_color",
      "label": "Button Hover Border Color",
      "default": "#fff"
    },
    {
      "type": "font_picker",
      "id": "title_font",
      "label": "Title Font",
      "default": "garamond_n7"
    },
    {
      "type": "font_picker",
      "id": "text_font",
      "label": "Text Font",
      "default": "garamond_n4"
    }
  ],
  "presets": [
    {
      "name": "Banner",
      "settings": {
        "subtitle": "Special Offer",
        "focused_title": "Huge Saving",
        "title": "on UHD Television",
        "description": "Sale upto 70% on selected items. ",
        "button_text": "Shop Now",
        "button_url": ""
      },
    }
  ],
}
{% endschema %}