{% comment %}   
1st box image url = ScreenShot2023-06-14at4.45.35PM
3rd box image url = ScreenShot2021-11-02at11.38.29AM

{% endcomment %}
<div class="hooks-offer is-flex is-align-center is-justify-center is-flex-wrap text-align-left">
    {% for block in section.blocks %}
        {%- case block.type -%}
            {%- when "offers" -%}
                <div class="hooks-offer-box margin-top-20 margin-bottom-20 width-33 width-md-50 width-sm-50 width-xs-100 overflow-hidden">
                    <div class="hooks-offer-box-content relative is-flex is-align-center is-justify-center is-flex-wrap" style="background-color: {{ block.settings.background }}">
                        {% if block.settings.image != blank %}
                            {% assign alt_tag = block.settings.title | append: ' - ' | append: block.settings.subtitle %}
                            {% if forloop.index == 1 %}
                                {% liquid
                                  assign preload_var = true
                                  assign loading_var = "eager"
                                %}
                            {% else %}
                                {% liquid
                                  assign preload_var = false
                                  assign loading_var = "lazy"
                                %}
                            {% endif %}
                            {{ block.settings.image | image_url: width: 570, height: 570, crop: "center" | image_tag: width: 570, height: 570, class: 'object-fit-cover lazyload', preload: preload_var, loading: loading_var, alt: alt_tag }}
                        {% else %}
                            {% liquid
                              assign placeholder_image = 'rugs-for-every-room.webp' | asset_url
                              if forloop.index == 3
                                assign placeholder_image = 'statement-lighting.png' | asset_url
                              endif

                            %}
                            {% if forloop.index != 2 %}<img src="{{ placeholder_image }}" height="570" width="570" class="object-fit-cover" loading="eager" alt="{{ block.settings.title }} - {{ block.settings.subtitle }}">{% endif %}
                        {% endif %}
                        <div class="hook-offer-description">
                            <div class="hook-offer-content is-flex is-flex-wrap {% if block.settings.offer_type == 'without_button' %}without-button text-align-center{% else %} with-button {% endif %} ">
                                <h3 
                                    class="width-100"
                                    style="font-family: {{ block.settings.font.family | append: ',' | append: block.settings.font.fallback_families }}; color: {{ block.settings.subtitle_color }}"
                                >{{ block.settings.subtitle }}</h3>
                                <h2 
                                    class="width-100"
                                    style="font-family: {{ block.settings.font.family | append: ',' | append: block.settings.font.fallback_families }}; color: {{ block.settings.title_color }}"
                                >{{ block.settings.title }}</h2>
                                {% if block.settings.offer_type == 'with_button' %}
                                    <a 
                                        href="{{ block.settings.button_url }}" 
                                        class="action_button letter-spacing-2"
                                        id="action_button_{{ block.id }}" 
                                    >{{ block.settings.button_text }}</a>
                                    {% style %}
                                      #action_button_{{ block.id }}{
                                        font-family: {{ block.settings.font.family | append: ',' | append: block.settings.font.fallback_families }};
                                        color: {{ block.settings.button_color }};
                                        background-color: {{ block.settings.button_background_color }};
                                        border-color: {{ block.settings.button_border_color }};
                                      }
                                      #action_button_{{ block.id }}:hover{
                                        background-color: {{ block.settings.button_hover_bg_color }};
                                        border-color: {{ block.settings.button_border_hover_color }};
                                        color: {{ block.settings.button_hover_color }}
                                      }
                                    {% endstyle %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
        {%- endcase -%}
    {%- endfor -%}
</div>

{% style %}
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.section_bg_color }}
  }
{% endstyle %}
{% schema %}
  {
    "name": "Hooks & Offer",
    "tag": "section",
    "class": "hooks-offer-container section-container margin-bottom-0",
    "blocks": [
        {
            "type": "offers",
            "name": "Offers",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image",
                    "info": "Preferred Size is 700 x 700"
                },
                {
                    "type": "color",
                    "id": "background",
                    "label": "Background Color",
                    "default": "#e2ebd8"
                },
                {
                    "type": "select",
                    "id": "offer_type",
                    "label": "Offer Type",
                    "options": [
                        {
                            "label": "With Button",
                            "value": "with_button"
                        },
                        {
                            "label": "Without Button",
                            "value": "without_button"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "subtitle",
                    "label": "Sub Title",
                    "default": "Nutrition"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "For Life"
                },
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button Text",
                    "default": "Shop Now",
                    "info" : "This will display if Offer Type is 'With Button' "
                },
                {
                    "type": "url",
                    "id": "button_url",
                    "label": "Button URL",
                    "info" : "This will display if Offer Type is 'With Button' "
                },
                {
                    "type": "font_picker",
                    "id": "font",
                    "label": "Font",
                    "default": "rubik_n7"
                  },
                {
                    "type": "color",
                    "id": "subtitle_color",
                    "label": "Subtitle Color",
                    "default": "#27496e"
                },
                {
                    "type": "color",
                    "id": "title_color",
                    "label": "title Color",
                    "default": "#27496e"
                },
                {
                    "type": "color",
                    "id": "button_color",
                    "label": "Button Color",
                    "default": "#fff"
                },
                {
                    "type": "color",
                    "id": "button_hover_color",
                    "label": "Button Hover Color",
                    "default": "#27496e"
                },
                {
                    "type": "color",
                    "id": "button_background_color",
                    "label": "Button Background Color",
                    "default": "#27496e"
                },
                {
                    "type": "color",
                    "id": "button_hover_bg_color",
                    "label": "Button Hover Background Color",
                    "default": "#fff"
                },
                {
                    "type": "color",
                    "id": "button_border_color",
                    "label": "Button Border Color",
                    "default": "#27496e"
                },
                {
                    "type": "color",
                    "id": "button_border_hover_color",
                    "label": "Button Hover Border Color",
                    "default": "#fff"
                },
            ]
        }
    ],
    "settings": [
        {
            "type": "color",
            "id": "section_bg_color",
            "label": "Main Section Background Color",
            "default": "#f2eeeb"
        }
    ],
    "presets": [
        {
            "name": "Hooks & Offers",
            "blocks": [
                {
                    "type": "offers",
                    "settings": {
                        "background": "#E0D9D0",
                        "offer_type": "with_button",
                        "subtitle": "Rugs for",
                        "title": "Every Room",
                        "button_text": "Shop Now",
                        "subtitle_color": "#444",
                        "title_color": "#444",
                        "button_color": "#FFF",
                        "button_border_color": "#444",
                        "button_background_color": "#444",
                        "button_hover_color": "#444",
                        "button_border_hover_color": "#444",
                        "button_hover_bg_color": "#FFF",
                        "button_url": "/collections/rugs"
                    },
                },
                {
                    "type": "offers",
                    "settings": {
                        "background": "#444",
                        "offer_type": "without_button",
                        "subtitle": "Get 10% off your first order",
                        "title": "Code: FIRST10",
                        "subtitle_color": "#FFF",
                        "title_color": "#E0D9D0"
                    },
                },
                {
                    "type": "offers",
                    "settings": {
                        "background": "#d3d3d3",
                        "offer_type": "with_button",
                        "subtitle": "",
                        "title": "Statement Lighting",
                        "button_text": "Shop Now",
                        "subtitle_color": "#444",
                        "title_color": "#444",
                        "button_color": "#444",
                        "button_hover_color": "#fff",
                        "button_border_color": "#444",
                        "button_background_color": "#f2eeeb",
                        "button_border_hover_color": "#444",
                        "button_hover_bg_color": "#444",
                        "button_url": "/collections/ceiling-lights"
                    },
                },
            ]
        }
    ],
  }
{% endschema %}